server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/portfolio_db?TimeZone=UTC&useTimezone=true}
    username: ${SPRING_DATASOURCE_USERNAME:portfolio_user}
    password: ${SPRING_DATASOURCE_PASSWORD:portfolio_pass}
    hikari:
      data-source-properties:
        TimeZone: UTC

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: never

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    try-it-out-enabled: true
  show-actuator: false
  default-consumes-media-type: application/json
  default-produces-media-type: application/json